---
layout: default
title: Research - Haoming Li
---
{% assign topics = "implicatures|modality|plurality|comparatives|Mandarin syntax|focus" | split: "|" %}
{% assign output_by_date = site.data.output | sort: "date" | reverse %}
{% for topic in topics %}
  <h2 id="{{ topic | slugify }}">{{ topic | capitalize }}</h2>
<table>
  <colgroup>
    <col style="width:5ex">
    <col>
    <col>
  </colgroup>  
  <tbody>
    {% for item in output_by_date %}
      {% if item.topics contains topic %}
      <tr>
      <td class="date">{{ item.date | slice: 0, 4 }}</td>
      <!-- <td>&nbsp;&nbsp;&nbsp;</td> -->
      <td>
        <b class="title">{{ item.title }}</b>
        {% if item.category == "Journal Article" %}
          <br><em>{{ item.publication }}</em>
      {% else %}
          <br>{{ item.publication }}
      {% endif %}
        {% if item.author %}
          <br>With {{ item.author }}
      {% endif %}
        {% if item.supervisor %}
          <br>Supervisor: {{ item.supervisor }}
      {% endif %}
      </td>
      <td>
        {% for entry in item.resources %}
          {%- if forloop.index != 1 -%}
          <br>
      {%- endif -%}
        <a href="{{ entry.url }}">{{ entry.type }}</a>
      {% endfor %}
      </td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endfor %}
