<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='-1'> 
<meta http-equiv='pragma' content='no-cache'>
<html>

<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/files/haoming_li_cv.pdf">CV</a></li>
      <li><a href="/papers">Research</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:haomingl@mit.edu">haomingl@mit.edu</a></li>
      <li><a href="https://github.com/haoming-li-ling">github.com/haoming-li-ling</a></li>
    </ul>
  </footer>
</body>

</html>
