<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='-1'>
<meta http-equiv='pragma' content='no-cache'>
<html>

<head>
  <title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://iosevka-webfonts.github.io/iosevka/iosevka.css" rel="stylesheet" />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="topics-nav">
        <a href="/papers">Output by topic</a>
        <ul class="topic-nav-list">
          <li><a href="/papers/#implicatures">Implicatures</a></li>
          <li><a href="/papers/#modality">Modality</a></li>
          <li><a href="/papers/#plurality">Plurality</a></li>
          <li><a href="/papers/#comparatives">Comparatives</a></li>
          <li><a href="/papers/#mandarin-syntax">Mandarin syntax</a></li>
          <li><a href="/papers/#focus">Focus</a></li>
        </ul>
      </li>
      <li><a href="/files/haoming_li_cv.pdf">CV</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:haomingl@mit.edu">haomingl@mit.edu</a></li>
      <li><a href="https://github.com/haoming-li-ling">github.com/haoming-li-ling</a></li>
    </ul>
  </footer>
</body>

</html>
